body {
	overflow: hidden;
}

#myytplayer {
	margin-left: 1000;
}

.search-box, .play-box {
	height:	85%;
	padding: 20px 10px;
}

.search-box {
	border-right:	1px solid black;
}

/* main search bar */
.search-box > .input-group {
	max-width: 70%;
	margin: 0 auto;
}

.search_results {
	overflow-y:	auto;
	height:	100%; 
}

.list-group-item > span {
	display: inline-block;
	vertical-align: top;
	max-width: 480px;
}

.list-group-item button {
	float:	right;
	display: inline-block;
}

.play-box {

}

/* slider */
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range] {
	margin-top: 10px;
}

input[type=range]:focus {
    outline: none;
}

/* loading spinner */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}